/* imports */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f8fc;
    font-family: "Karla", sans-serif;
    font-weight: 200;
}

/* container */
.container {
    width: 90%;
    max-width: 550px;
    background-color: #1f2937;
    border-radius: 16px;
    padding: 50px;
    margin: 20px 0;
}

/* title */
h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    color: #ffffff;
    text-align: left;
    margin-bottom: 10px;
}

h1 span {
    color: #10b981;
}

/* subtitle */
h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0%;

    text-align: left;
    color: #d5d4d8;
    margin-bottom: 50px;
}

/* button */
button {
    background: #10b981;
    border-radius: 8px;
    border: none;
    padding: 10px 25px;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    cursor: pointer;
}

button:hover {
    background: #059669;
}
button:active {
    background: #047857;
}

/* line */
.border-line {
    border-top: 1px solid #2f3e53;
    width: 100%;
    margin: 35px 0;
}

/* input */
.passwords-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 40px;
    border-radius: 6px;
    background: #273549;
    padding: 5px 15px;
    word-break: break-all;
}

/* style password */
.password-display {
    color: #55f991;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-height: 1.5;
    text-align: center;
}
